/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.navbar {
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000 !important;
  text-shadow: none;
  span {
    background: $brand-warning;
    color: white;
    border-radius: 5px;
    padding: 0 4px;
    margin-left: 10px;
    vertical-align: top;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
  }
}

.navbar-header {
  .brandLogo {
    float: left;
    height: 50px;
    margin: 0 5px 0 -15px;

    &.odh-logo {
      height: 40px;
      margin: 5px 10px 5px 15px;
    }

    &.journey-logo {
      margin-left: 5px;
    }
  }
}

.mobile {
  .navbar-header {
    .brandLogo {
      float: left;
      height: 50px;
      margin: 0;
      position: absolute;

      &.odh-logo {
        left: 0;
      }

      &.journey-logo {
        left: 55px;
      }
    }
  }
  .navbar-brand {
    span {
      margin-left: 110px;
    }
  }
}